/* BEGIN - Gallery styles */

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 20px;
}

.item {
  width: 300px;
  height: 330px;
  padding-bottom: 30px;
  margin: 20px;
}

.image {
  width: 100%;
  height: 100%;
  background: #111;
  box-shadow: 5px 5px 10px #000000;
}

.image .logo {
  width: 100%;
  height: 100%;
}

.details {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.details .date {
  text-align: center;
  font-size: 12px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #0f0f0f;
  margin: auto;
  width: 60%;
  height: 70%;
}

.modal-content .image .logo {
  width: 100%;
  height: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */

.navbar {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: #efefef;
  padding: 0 12px;
  z-index: 5;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  border-radius: 4px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  font-size: 0.8em;
  min-width: 90px;
  text-align: center;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;
  padding: 0.5rem;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    align-items: center;
    height: 60px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #111;
    padding-bottom: 12px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    background: #111;
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    align-items: end;
  }
}

.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-twitter {
  background-color: #1da1f2;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}
/* END */
