<!doctype html>
<html>

<head>
    <title>VideoAI: Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    {% include 'importcss.html' %}
</head>

<body>
    {% include 'header.html' %}
    <div id="container">
        <span>Something went wrong on our end! </span><a href="/">Click here</a><span> to go back.</span>
    </div>
    {% include 'footer.html' %}
    {% include 'ext.html' %}
    {% include 'importjs.html' %}
</body>

</html>