<nav class="navbar">
    <a href="/" class="brand-title">VideoAI</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/gallery">Gallery</a></li>
                <li class="red-bg"><a href="/upload">Generate</a></li>
                <!-- <li><a href="/tts-model">Lab</a></li> -->
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
</nav>